:root {
	--page-background-color: #2b2e35;

	--primary-font-size: 14px;
	--primary-font-family: Roboto, "Helvetica Neue", sans-serif;
	--primary-font-color: #ededed;
	--secondary-font-color: #9c9c9c;
	// --accent-font-color:

	--h1-font-weight: 600;
	--h1-font-size: 4rem;

	--large-font-size: 2rem;
	--small-font-size: 0.8rem;
}
