@use "theme/variables" as *;

html,
body {
	margin: 0;
	height: 100%;
}

body {
	font-size: var(--primary-font-size);
	font-family: var(--primary-font-family);
	color: var(--primary-font-color);
	background-color: var(--page-background-color);
}
